<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/fragments :: header}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{fragments :: sideBar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments :: topBar}"></nav>
            <!-- End of Topbar -->

            <!-- Container fluid -->
            <div class="container-fluid">

                <form th:action="@{/add-city}"  method="post" th:object="${city}"
                      style="width:60%; margin-left:auto; margin-right:auto" enctype="multipart/form-data" >
                    <h3 class="text-center">Add new city</h3>

                    <div class="form-group">
                        <label for="name">NAME CITY</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Name" th:field="*{name}">

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="properties">PROPERTIES</label>
                        <input type="text" class="form-control" id="properties" name="properties"
                               placeholder="Properties" th:field="*{properties}">

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('properties')}"
                             th:errors="*{properties}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">IMAGE</label>
                        <input type="file" class="form-control" id="image" name="image" th:field="*{image}">
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
            <!-- End of container fluid-->

        </div>

        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{fragments :: footer}">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments :: scroll}">
</a>

<!-- Logout Modal-->
<div th:replace="~{fragments :: logoutModal}">
</div>


<div th:replace="~{fragments :: script}"></div>
<script th:src="@{/js/categories.js}"></script>

</body>

</html>