<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
    <head th:replace="~{/fragments :: header}">
    </head>

<body>
    
<section th:replace="~{fragments :: banner}"></section>



    <div class="tabs-content" id="weather">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Check Weather For 5 NEXT Days</h2>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="col-md-12">
                        <div class="weather-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                        <li><a href="#monday" class="active">Monday</a></li>
                                        <li><a href="#tuesday">Tuesday</a></li>
                                        <li><a href="#wednesday">Wednesday</a></li>
                                        <li><a href="#thursday">Thursday</a></li>
                                        <li><a href="#friday">Friday</a></li>
                                    </ul>    
                                </div>
                                <div class="col-md-12">
                                    <section id="second-tab-group" class="weathergroup">
                                        <div id="monday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ha Noi</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-03.png}" alt="">
                                                        </div>
                                                        <span>32&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>26&deg;</span></li>
                                                            <li>12PM <span>32&deg;</span></li>
                                                            <li>6PM <span>28&deg;</span></li>
                                                            <li>12AM <span>22&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ho Chi Minh</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-02.png}" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>20&deg;</span></li>
                                                            <li>12PM <span>28&deg;</span></li>
                                                            <li>6PM <span>26&deg;</span></li>
                                                            <li>12AM <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Da Lat</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-01.png}" alt="">
                                                        </div>
                                                        <span>33&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>26&deg;</span></li>
                                                            <li>12PM <span>33&deg;</span></li>
                                                            <li>6PM <span>29&deg;</span></li>
                                                            <li>12AM <span>27&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tuesday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ha Noi</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-02.png}" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>18&deg;</span></li>
                                                            <li>12PM <span>27&deg;</span></li>
                                                            <li>6PM <span>25&deg;</span></li>
                                                            <li>12AM <span>17&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ho Chi Minh</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-03.png}" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>19&deg;</span></li>
                                                            <li>12PM <span>28&deg;</span></li>
                                                            <li>6PM <span>22&deg;</span></li>
                                                            <li>12AM <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Da Lat</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-01.png}" alt="">
                                                        </div>
                                                        <span>26&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>19&deg;</span></li>
                                                            <li>12PM <span>26&deg;</span></li>
                                                            <li>6PM <span>22&deg;</span></li>
                                                            <li>12AM <span>20&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="wednesday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ha Noi</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-03.png}" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>19&deg;</span></li>
                                                            <li>12PM <span>28&deg;</span></li>
                                                            <li>6PM <span>22&deg;</span></li>
                                                            <li>12AM <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ho Chi Minh</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-01.png}" alt="">
                                                        </div>
                                                        <span>34&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>28&deg;</span></li>
                                                            <li>12PM <span>34&deg;</span></li>
                                                            <li>6PM <span>30&deg;</span></li>
                                                            <li>12AM <span>29&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Da Lat</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-02.png}" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>18&deg;</span></li>
                                                            <li>12PM <span>27&deg;</span></li>
                                                            <li>6PM <span>25&deg;</span></li>
                                                            <li>12AM <span>17&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="thursday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ha Noi</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-01.png}" alt="">
                                                        </div>
                                                        <span>27&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>21&deg;</span></li>
                                                            <li>12PM <span>27&deg;</span></li>
                                                            <li>6PM <span>22&deg;</span></li>
                                                            <li>12AM <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ho Chi Minh</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-02.png}" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>18&deg;</span></li>
                                                            <li>12PM <span>27&deg;</span></li>
                                                            <li>6PM <span>25&deg;</span></li>
                                                            <li>12AM <span>17&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Da Lat</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-03.png}" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>19&deg;</span></li>
                                                            <li>12PM <span>28&deg;</span></li>
                                                            <li>6PM <span>22&deg;</span></li>
                                                            <li>12AM <span>18&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="friday">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ha Noi</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-03.png}" alt="">
                                                        </div>
                                                        <span>33&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>28&deg;</span></li>
                                                            <li>12PM <span>33&deg;</span></li>
                                                            <li>6PM <span>29&deg;</span></li>
                                                            <li>12AM <span>27&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Ho Chi Minh</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-02.png}" alt="">
                                                        </div>
                                                        <span>31&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>24&deg;</span></li>
                                                            <li>12PM <span>31&deg;</span></li>
                                                            <li>6PM <span>26&deg;</span></li>
                                                            <li>12AM <span>23&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="weather-item">
                                                        <h6>Da Lat</h6>
                                                        <div class="weather-icon">
                                                            <img th:src="@{/img/weather-icon-01.png}" alt="">
                                                        </div>
                                                        <span>28&deg;C</span>
                                                        <ul class="time-weather">
                                                            <li>6AM <span>24&deg;</span></li>
                                                            <li>12PM <span>28&deg;</span></li>
                                                            <li>6PM <span>26&deg;</span></li>
                                                            <li>12AM <span>22&deg;</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="services" style="width:70%;margin-left:auto;margin-right:auto;">
        <div class="container">
            <h1 style="font-weight:bold;margin-bottom:20px">Trending destinations</h1>
            <h3 style="color:gray;margin-bottom:50px">Most popular choices for travellers from Vietnam</h3>
            <div class="row" style="display:flex;flex-wrap:wrap;cursor: pointer;">
                <div class="col-md-6">
                    <a href="http://localhost:8088/hotelbooking/list-hotel/city/6">
                        <div>
                            <p style="position: absolute;
                                        color: white;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin: 30px;
                                        text-shadow: 2px 2px 5px #120707;"><img style="width: 40px;" th:src="@{/img/flag_vietnam.png}"/> Ha Noi</p>
                            <img th:src="@{/img/hanoi.jpg}"
                                 style="height: 283px; width: 100%;border-radius:10px;margin-bottom:10px">
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="http://localhost:8088/hotelbooking/list-hotel/city/8">
                        <div>
                            <p style="position: absolute;
                                        color: white;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin: 30px;
                                        text-shadow: 2px 2px 5px #120707;"><img style="width: 40px;" th:src="@{/img/flag_vietnam.png}"/> Da Nang</p>
                            <img th:src="@{/img/danang.jpg}"
                                 style="height: 283px; width: 100%;border-radius:10px;margin-bottom:10px"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://localhost:8088/hotelbooking/list-hotel/city/10">
                        <div>
                            <p style="position: absolute;
                                        color: white;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin: 30px;
                                        text-shadow: 2px 2px 5px #120707;"><img style="width: 40px;" th:src="@{/img/flag_vietnam.png}"/> Ninh Binh</p>
                            <img th:src="@{/img/ninhbinh.jpg}" style="height: 283px; width: 100%;border-radius:10px"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://localhost:8088/hotelbooking/list-hotel/city/7">
                        <div>
                            <p style="position: absolute;
                                        color: white;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin: 30px;
                                        text-shadow: 2px 2px 5px #120707;"><img style="width: 40px;" th:src="@{/img/flag_vietnam.png}"/> Ho Chi Minh</p>
                            <img th:src="@{/img/hcm.jpg}" style="height: 283px; width: 100%;border-radius:10px"/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://localhost:8088/hotelbooking/list-hotel/city/9">
                        <div>
                            <p style="position: absolute;
                                        color: white;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin: 30px;
                                        text-shadow: 2px 2px 5px #120707;"><img style="width: 40px;" th:src="@{/img/flag_vietnam.png}"/> Da Lat</p>
                            <img th:src="@{/img/dalat.jpg}" style="height: 283px; width: 100%;border-radius:10px"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section id="most-visited">
        <div class="container">

            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Explore Vietnam</h2>
                    <h4 style="color:gray;text-align:center;margin-top: -60px;margin-bottom:50px">These popular destinations have a lot to offer</h4>
                </div>
            </div>
            <div class="row" style="cursor: pointer;">
                <div class="col-md-12">
                    <div id="owl-mostvisited" class="owl-carousel owl-theme">
                        <div class="item col-md-12" th:each="city : ${cities}" th:object="${city}">
                            <a th:href="@{/list-hotel/city/{cityId}(cityId=${city.id})}" style="text-decoration:none">
                                <div class="visited-item">
                                    <img style="width:300px;height:200px" th:src="@{/assets/{filename}(filename=*{filename})}" alt="">
                                    <div class="text-content">
                                        <h4 th:text="${city.name}"></h4>
                                        <span th:text="${city.properties}"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <div class="tabs-content" id="recommended-hotel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Recommended Hotel For You</h2>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="col-md-4">
                        <ul>
                            <li style="background: #1f3646;
                                        border-bottom: 1px solid white;
                                        padding: 10px;
                                        text-align: center;">
                                <a href="#livingroom" style="color: white;
                                                            text-decoration: none;
                                                            font-size: 20px;
                                                            font-weight: 600;">
                                    Choose the hotel style you like    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li  th:each="category : ${categories}" style="background: #1f3646;
                                                                            border-bottom: 1px solid white;
                                                                            padding: 10px;
                                                                            text-align: center;">
                                <a th:text="${category.name}"
                                   th:href="@{/list-hotel/category/{categoryId}(categoryId=${category.id})}"
                                    style="color: white;
                                            text-decoration: none;
                                            font-size: 20px;
                                            font-weight: 600;">
                                    Suit Room <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <section id="third-tab-group" class="recommendedgroup">
                            <div id="livingroom">
                                <div class="text-content">
                                    <img width="100%" height="400px" th:src="@{/img/suite-01.jpg}">
                                </div>
                            </div>
                            <div id="suitroom">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="owl-suiteroom" class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="suiteroom-item">
                                                    <img width="100%" height="400px" th:src="@{/img/suite-02.jpg}" alt="">
                                                    <div class="text-content">
                                                        <h4>Clean And Relaxing Room</h4>
                                                        <span>Aurora Resort</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="suiteroom-item">
                                                    <img width="100%" height="400px" th:src="@{/img/suite-01.jpg}" alt="">
                                                    <div class="text-content">
                                                        <h4>Special Suite Room TV</h4>
                                                        <span>Khao Yai Hotel</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="suiteroom-item">
                                                    <img width="100%" height="400px" th:src="@{/img/suite-03.jpg}" alt="">
                                                    <div class="text-content">
                                                        <h4>The Best Sitting</h4>
                                                        <span>Hotel Grand</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="swimingpool">
                                <img width="100%" height="400px" th:src="@{/img/swiming-pool.jpg}" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Lovely View Swiming Pool For Special Guests</h4>
                                            <span>Victoria Resort and Spa</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="massage">
                                <img width="100%" height="400px" th:src="@{/img/massage-service.jpg}" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Perfect Place For Relaxation</h4>
                                            <span>Napali Beach</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="fitness">
                                <img width="100%" height="400px" th:src="@{/img/fitness-service.jpg}" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Insane Street Workout</h4>
                                            <span>Hua Hin Beach</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="event">
                                <img width="100%" height="400px" th:src="@{/img/evening-event.jpg}" alt="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-content">
                                            <h4>Finest Winery Night</h4>
                                            <span>Queen Restaurant</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer th:replace="~{fragments :: footer}"></footer>

<div th:replace="~{fragments :: script}"></div>

</body>
</html>