<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/fragments :: header}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{fragments :: sideBar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments :: topBar}"></nav>
            <!-- End of Topbar -->

            <!-- Container fluid -->
            <div class="container-fluid">

                <form th:action="@{/update-hotel/{id}(id=${hotel.id})}"  method="post" th:object="${hotel}"
                      style="width:60%; margin-left:auto; margin-right:auto" enctype="multipart/form-data" >
                    <h3 class="text-center">Update hotel</h3>
                    <div class="form-group">
                        <label for="name">NAME HOTEL</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Name hotel" th:field="*{name}" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="quantityRoom">QUANTITY ROOM</label>
                        <input type="text" class="form-control" id="quantityRoom" name="quantityRoom"
                               placeholder="Quantity room" th:field="*{quantityRoom}" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('quantityRoom')}"
                             th:errors="*{quantityRoom}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="status">STATUS</label>
                        <input type="text" class="form-control" id="status" name="status"
                               placeholder="Status" th:field="*{status}" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}"
                             th:errors="*{status}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="costPrice">PRICE</label>
                        <input type="text" class="form-control" id="costPrice" name="costPrice"
                               placeholder="Price" th:field="*{costPrice}" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('costPrice')}"
                             th:errors="*{costPrice}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address">ADDRESS</label>
                        <input type="text" class="form-control" id="address" name="address"
                               placeholder="Address" th:field="*{address}" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}"
                             th:errors="*{address}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-check-label" for="description">DESCRIPTION</label>
                        <textarea class="form-control" id="description" name="description" th:field="*{description}" required></textarea>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}"
                             th:errors="*{description}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-check-label" for="superb">SUPERB</label>
                        <input type="text" class="form-control" id="superb" name="superb"
                               placeholder="Superb" th:field="*{superb}" required>
                    </div>

                    <div class="form-group">
                        <label class="form-check-label" for="review">REVIEWS</label>
                        <input type="text" class="form-control" id="review" name="review"
                               placeholder="Reviews" th:field="*{review}" required>
                    </div>

                    <div class="form-group">
                        <label class="form-check-label" for="map">MAP</label>
                        <textarea class="form-control" id="map" name="map" th:field="*{map}" required></textarea>
                    </div>


                    <div class="form-group">
                        <label class="form-check-label" for="image">IMAGE</label>
                        <input type="file" id="image" name="image" th:field="*{image}" required>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('image')}"
                             th:errors="*{image}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nameCity">NAME CITY</label>
                        <select class="form-control" id="nameCity" name="city" th:field="*{city}" multiple required>
                            <option th:each="city : ${cities}"
                                    th:value="${city.id}"
                                    th:text="${city.name}"></option>
                        </select>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('city')}"
                             th:errors="*{city}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nameCategory">NAME CATEGORY</label>
                        <select class="form-control" id="nameCategory" name="category" th:field="*{category}" multiple required>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>

                        <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}"
                             th:errors="*{category}">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
            <!-- End of container fluid-->

        </div>

        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{fragments :: footer}">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments :: scroll}">
</a>

<!-- Logout Modal-->
<div th:replace="~{fragments :: logoutModal}">
</div>


<div th:replace="~{fragments :: script}"></div>
<script th:src="@{/js/categories.js}"></script>

</body>

</html>